.input {
    font-size: 1em;
    height: 1.6em;
}

input {
    font-size: 1em;
    padding: 0 0.4em;
    border: 1px solid var(--grey);
    height: inherit;
    width: 100%;
}

input:focus {
    border: 1px solid var(--secondary);
    outline: none;
}

/* With Icon */

.input.with-icon {
    display: flex;
    border: 1px solid var(--grey);
}

.input.with-icon:focus-within {
    border: 1px solid var(--secondary);
}

.input.with-icon input {
    padding: 0 0.4em;
    border: none;
    width: 100%;
}

.input.with-icon input:focus {
    border: none
}

.input_icon {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--grey);
    padding: 0.2em 0.1em;
}
.input_icon svg{
    height: 1em !important;
    width: 1em !important;
}

/* Hide number input arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}