.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}


/* Listings */

.dashboard_listings {
    width: 100%;
    max-width: 80em;
    padding: 0 10%;
    box-sizing: border-box;
    border-spacing: 0;
}

/* Listings Header */

.dashboard_listings-header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   border: 1px solid var(--light-3);
   border-bottom: none;
   background-color: var(--light-2);
   height: 2.4em;
   padding: 0 0.5em;
   margin: 0;
}

.dashboard_listings-header-health-label {
    color: var(--grey-4);
    letter-spacing: 2px;
}
 
.dashboard_listings-header.active .dashboard_listings-header-health-label{
    color: var(--primary);
}

.dashboard_listings-sort {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
}

.dashboard_sort-icon {
    position: relative;
    cursor: pointer;
}

.dashboard_sort-icon path{
    transition: 0.2s ease-in;
}

.dashboard_sort-icon:not(.active):hover path{
    fill: var(--grey-4) !important
}
 

.caret-up-icon {
    top: 0.5em;
}

.caret-down-icon {
    bottom: 0.5em;
}


.dashboard_listings-container .listing{
    margin-bottom: 0.4em;
}


/*----------------------------------------------------------
    Responsive
----------------------------------------------------------*/
@media only screen and (max-width: 640px) {
    .dashboard_listings-container .listing  {
        margin-bottom: 1em;
    }
} 

/* Listing cards mobile view */
@media only screen and (max-width: 640px) {
    .dashboard-listing.listing.card-view .listing_picture {
        height: auto;
        width: 100%;
    }

    .dashboard-listing.listing.card-view, .dashboard-listing .listing.details-view {
        justify-content: center;
    }
    
    .dashboard-listing.listing, .dashboard-listing .listing_picture-and-title {
        flex-wrap: wrap;
    }

    .dashboard-listing.listing_health-container {
        margin-bottom: 1em;
     }
} 