.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}


/* Listings */

.dashboard_listings {
    width: 100%;
    max-width: 80em;
    padding: 0 10%;
    box-sizing: border-box;
    border-spacing: 0;
}

.dashboard_listings-header {
   border: 1px solid #dfdfdf;
   border-bottom: none;
   padding: 0.5em;
   background-color: #fafafa;
   margin: 0;
}


.dashboard_listings-container .listing{
    margin-bottom: 0.4em;
}