:root {
    --primary: #0E979F;
    --primary-light: #5BC5CE;
    --primary-dark: #0A6A70;
    --white: #ffffff;
    --light: #eff0f3;
    --grey: #dfdfdf;
    --dark: #374051;
    --black: #000000;
}