:root {
    --primary: #0E979F;
    --primary-light: #5BC5CE;
    --primary-dark: #0A6A70;
    --white: #FFFFFF;
    --light: #FBFBFC;
    --light-2: #FAFAFA;
    --grey: #DFDFDF;
    --grey-2: #9E9E9E;
    --grey-3: #848484;
    --grey-4: #374051;
    --grey-5: #474747;
    --dark: #333333;
    --dark-2: #1a1a1a;
    --black: #070707;
}