:root {
    --primary: #6DB5BF;
    --primary-accent: #5BC5CE;
    --primary-dark: #278d9b;
    --secondary: #374051;
    --white: #FFFFFF;
    --light: #F6F7F9;
    --light-2: #F7F9FA;
    --light-3: #e9e9e9;
    --grey: #DFDFDF;
    --grey-2: #9E9E9E;
    --grey-3: #848484;
    --grey-4: #595959;
    --grey-5: #474747;
    --dark: #333333;
    --dark-2: #1a1a1a;
    --black: #070707;
}