
.listing {
    padding: 1em; 
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid var(--light-3);
    box-sizing: border-box;
}

.listing a {
    text-decoration: none;
    color: var(--secondary);
    transition: 0.1s ease-in;
 }

.listing a:hover {
    color: var(--black);
    font-weight: bold;
}

/*----------------------------------------------------------
    Details view 
----------------------------------------------------------*/
.listing.details-view  {
    justify-content: space-between;
}

/*----------------------------------------------------------
    Card view 
----------------------------------------------------------*/
.listing.card-view {
    justify-content: space-between;
}

.listing.card-view, .listing_picture-and-title {
    display: flex;
    box-sizing: border-box;
}

.listing.card-view .listing_title {
    margin: 0.3em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: unset;
}


/* Picture */
.listing.card-view .listing_picture {
    height: 8em;
    width: 8em;
    object-fit: fill;
    margin-right: 1em;
}

/* Listing stat */
.listing.card-view .listing_stat {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 2em 4em;
}

/* Listing beds */
.listing.card-view .listing_bed-icon {
   margin-right: 0.4em;
}

/* Listing health */
.listing_health-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 10em;
 }

 .listing.card-view .listing_health {
    font-size: 1.6em;
    font-weight: 600;
 }


.listing.card-view .listing_health-label {
    font-size: 1em;
    font-weight: 600;
    color: var(--grey-4);
    margin-top: 1em;
 }
 

/*----------------------------------------------------------
    Responsive
----------------------------------------------------------*/
@media only screen and (max-width: 640px) {
    .listing.card-view .listing_picture {
        height: auto;
        width: 100%;
    }

    .listing.card-view, .listing.details-view {
        justify-content: center;
    }
    
    .listing, .listing_picture-and-title {
        flex-wrap: wrap;
    }

    .listing_health-container {
        margin-bottom: 1em;
     }
} 