@import 'react-calendar/dist/Calendar.css';

.calendar {
 
}

.calendar_back-to-listings {
    justify-self: lef
}

.calendar_calendar-container {
    display: flex;
    width: 100%;
    justify-content: center;
}


/*-----------------------------------------------------------------
    React Calendar
------------------------------------------------------------------*/

.react-calendar {
    width: 100%;
    margin: 10%;
    background: none;
    border: none;
}

/* Navigation Label */
.react-calendar .react-calendar__navigation button{
    margin-bottom: 0.5em;
    color: var(--grey-3);

 }

.react-calendar .react-calendar__navigation__label {
    font-size: 1.2em;
    font-weight: 600;
    pointer-events: none;
    /* flex-grow: 0 !important; */

}

/* Weekdays */
.react-calendar .react-calendar__month-view__weekdays {
    font-size: 0.8em;
    color: var(--grey-2);
    text-align: left;
    margin-bottom: 1em;
}

.react-calendar .react-calendar__month-view__weekdays abbr{
    text-decoration: none;
}



/* Tiles */
.react-calendar .react-calendar__month-view__days {
    height: 30em;
}

.react-calendar .calendar_calendar-tile  {
    position: relative;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--light);
    font-size: 1em;
    transition: 0.1s ease-in;
}

.react-calendar .calendar_calendar-tile-overlay {
    position: absolute;
    left: 0; 
    top: 0; 
    bottom: 0; 
    right: 0;
    z-index: 1;
    cursor: default;
}

.react-calendar .react-calendar__tile[disabled] , 
.react-calendar .react-calendar__tile:disabled {
    background-color: var(--light-3);
    color: var(--grey-2);
    opacity: 0.5;
}

.react-calendar .react-calendar__tile[disabled]:hover , 
.react-calendar .react-calendar__tile:disabled:hover {
    color: var(--primary);
    opacity: 0.8;
}

 .react-calendar .react-calendar__tile[disabled] abbr, 
 .react-calendar .react-calendar__tile:disabled abbr{
    color: var(--grey-2);
  }

.react-calendar .react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
    background-color: var(--white);
    color: var(--primary);
}


.react-calendar .react-calendar__tile:enabled:hover abbr  {
     color: var(--grey);
     text-decoration: none;
}

 
.react-calendar .calendar_calendar-tile abbr{
    font-size: 0.8em;
    color: var(--light-2);
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.react-calendar .calendar_calendar-tile div{
    font-size: 2em;
}