.date-popover {
  
}

.date-popover_content {
    height: 15em;
    width: 20em;
}

.date-popover_content-header {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-2);
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-popover_content-header-date{
    margin-bottom: 0.5em;
}

.date-popover_content-header-total{
    font-size: 2em;
    font-weight: 600;
    color: var(--primary);
}

.date-popover_content hr {
    border: none;
    border-top: 1px solid var(--grey-5);
    margin: 1em 0;
}
.date-popover_content-details {
    position: relative;
    top: 6em;
 }

.date-popover_content-detail {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}