.date-popover {
  
}

.date-popover_content {
    height: 16em;
    width: 20em;
}

.date-popover_header {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-2);
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-popover_header-blocked-status {
    position: absolute;
    top: 0.5em;
    left:  0.5em;
    color: var(--grey);
    background-color: var(--dark);
    padding: 0.4em 0.4em 0.3em;
    border-radius: 0.4em;
}

.date-popover_header-date{
    margin: 1em 0 0.5em;
}

.date-popover_header-total{
    font-size: 2em;
    font-weight: 600;
    color: var(--primary);
}

.date-popover_content hr {
    border: none;
    border-top: 1px solid var(--grey-5);
    margin: 1em 0;
}
.date-popover_price-details {
    position: relative;
    top: 8em;
 }

.date-popover_price-detail {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}