.date-popover {
  
}

.date-popover_content {
    height: 18em;
    width: 20em;
}

.date-popover_header {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-2);
    height: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-popover_header-blocked-status {
    position: absolute;
    top: 0.5em;
    left:  0.5em;
    color: var(--grey);
    background-color: var(--dark);
    padding: 0.4em 0.4em 0.3em;
    border-radius: 0.4em;
}

.date-popover_header-date{
    font-size: 1.3em;
    margin: 1em 0 0.5em;
    color: var(--white);
}

.date-popover_header-total{
    font-size: 2.4em;
    font-weight: 600;
    color: var(--primary-accent);
    margin-bottom: 1rem;
}

.date-popover_content hr {
    border: none;
    border-top: 1px solid var(--grey-5);
    margin: 1em 0;
}
.date-popover_price-details {
    position: relative;
    top: 9em;
 }

.date-popover_price-detail {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}

.date-popover_price.predicted {
    font-weight: 700;
}

/* Add spacing before price based on amount 
of digits to line up with the other prices */
.price-digits-1 {
    margin-left: 1em;
}
.price-digits-2 {
    margin-left: 0.5em;
}

.price-digits-1.price-minus {
    margin-left: 1.1em;
}
.price-digits-2.price-minus {
    margin-left: 0.6em;
}


/* Blocked */
.date-popover_blocked-status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey);
    margin-bottom: 0.5em;
}

.date-popover_blocked-status-icon{
    position: relative;
    margin-right: 0.5em;
    bottom: 0.1em;
}